{% extends '@layout/default.html.twig' %}

{% block title %}
    {% if language == 'is' %}
        Listamenn
    {% else %}
        Artists
    {% endif %}
{% endblock %}

{% block meta %}
    <link rel="canonical" href="{{ host }}{{ path(language == 'is' ? 'listamenn' : 'authors') }}" />
    <meta property="og:url"                content="{{ host }}{{ path(language == 'is' ? 'listamenn' : 'authors') }}" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="{{ language == 'is' ? 'Listamenn' : 'Artists'}}" />
{% endblock %}

{% block language_switch %}
{% if language == 'is' %}
    <li class="app__nav-list-item"><a class="app__nav-link" href="{{ path('authors') }}">English</a></li>
{% else %}
    <li class="app__nav-list-item"><a class="app__nav-link" href="{{ path('listamenn') }}">Íslenska</a></li>
{% endif %}
{% endblock %}

{% block content %}
    <main class="app__main">
        <article class="article">
            <aside class="article__aside">
                <ul class="author-list">
                    {% for author in list %}
                        <li class="author-list__item">
                            <h3 class="author-list__author">
                            <a href="{{ path(language|default('is') == 'is' ? 'listamadur' : 'author', {id: author.id}) }}" class="author-list__author-link">
                                {{ author.name }}
                            </a>
                            </h3>
                            <ul class="author-list__entries-list">
                                {% for entry in author.entries %}
                                    <li class="author-list__entries-item">
                                        <h4 class="author-list__entry">
                                            <a href="{{ path(language == 'is' ? 'syning' : 'entry', {id: entry.title|slug(entry.id)}) }}">{{ entry.title }}</a>
                                        </h4>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </aside>
            <div class="article__body">
                {% include '@partials/header.html.twig' %}
                <h2 class="entries__title">
                    {% if language|default('is') == 'is' %}
                        Listamenn sem hafa sýnt hjá Kling & Bang
                    {% else %}
                        Artists that have exhibited at Kling & Bang
                    {% endif %}
                </h2>
            </div>
        </article>
    </main>
{% endblock %}
