{% extends '@layout/default.html.twig' %}

{% block title %}
    {{ language == 'is' ? 'Sýningar ' ~ year :  'Shows ' ~ year }}
{% endblock %}

{% block meta %}
    <link rel="canonical" href="{{ host }}{{ path(language == 'is' ? 'listi' : 'list', {year: year}) }}" />
    <meta property="og:url" content="{{ host }}{{ path(language == 'is' ? 'listi' : 'list', {year: year}) }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ language == 'is' ? 'Sýningar' : 'Shows'}} {{ year }}" />
    <meta property="og:image" content="/images/poster.jpg" />
{% endblock %}


{% block content %}
    {% if year %}
    <h2>{{year}}</h2>
    {% endif %}
    <ul class="entries">
        {% for item in list %}
        <li class="entries__item">
            <article class="entries__article">
                <header class="entries__header">
                    <h2 class="entries__title">
                        <a href="{{ selectPath(['syning', 'entry'], language == 'is', {id: item.title|slug(item.id)}) }}" class="entries__link">
                            {{item.title}}
                        </a>
                    </h2>
                    {% if item.type == 'news' %}
                        <time>{{item.from|date(language)}}</time>
                    {% else %}
                        <time>{{item.from|date(language)}}</time> | <time>{{item.to|date(language)}}</time>
                    {% endif %}
                </header>
                <main class="entries__content">
                    <ul class="entries__authors">
                    {% for author in item.authors %}
                        <li>
                            <a href="{{selectPath(['listamadur', 'author'], language == 'is', {id: author.name|slug(author.id)})}}" class="entries__link">{{author.name}}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </main>
                <aside class="entries__aside">
                    {% if item.posters|length > 0 %}
                        <img class="entries__poster" src="{{path('asset', {size: '200x200', name: item.posters[0].name})}}" loading="lazy" width="200" height="200" />
                    {% else %}
                        <img class="entries__poster" src="#" width="200" height="200" loading="lazy" />
                    {% endif %}
                </aside>
                <footer class="entries__footer"></footer>
            </article>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
