{% extends '@layout/default.html.twig' %}

{% block title %}{{ entry.current.title }}{% endblock %}

{% block content %}
    <article class="entry">
        <header class="entry__header">
            <ul class="entry__author-list">
                {% for author in entry.current.authors %}
                <li>
                    <h2 class="entry__author">
                        <a class="entry__author-link" href="{{path('listamadur', {id: author.id})}}">{{author.name}}</a>
                    </h2>
                </li>
                {% endfor %}
            </ul>
            <h3>{{entry.current.title}}</h3>
            <time class="entry__time">{{entry.current.from}}</time> | <time class="entry__time">{{entry.current.to}}</time>
        </header>
        <aside class="entry__aside">
            {% if entry.current.poster %}
            <img class="entry__poster" src="/img/640x/{{entry.current.poster.name}}" />
            {% endif %}
            <ul class="gallery">
                {% for image in entry.current.gallery %}
                {% if image.width > image.height %}
                <li class="gallery__item--landscape">
                    <img src="{{ path('asset', {size: '200x', name: image.name}) }}" class="gallery__image" />
                </li>
                {% else %}
                <li class="gallery__item--portraid">
                    <img src="{{ path('asset', {size: 'x320', name: image.name}) }}" class="gallery__image" />
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </aside>
        <section class="entry__body">
            {% if user_session %}
            <a href="{{ path('update-entry', {id: entry.current.id}) }}">edit</a>
            {% endif %}

            {% markdown %}
            {{ entry.current.body|raw }}
            {% endmarkdown %}
        </section>
        <footer class="entry__footer">

            <div class="entry__preview">
                {% if entry.next %}
                <h3>
                    <a href="{{path('syning', {id: entry.next.id})}}">{{entry.next.title}}</a>
                </h3>
                <ul>
                    {% for author in entry.next.authors %}
                        <li>{{author.name}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="entry__preview">
                {% if entry.previous %}
                <h3>
                    <a href="{{path('syning', {id: entry.previous.id})}}">{{entry.previous.title}}</a>
                </h3>
                <ul>
                    {% for author in entry.previous.authors %}
                        <li>{{author.name}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>



        {# <div class="pagination__item pagination--next">
            {% if entry.next %}
            <a href="{{ path(language == 'is' ? 'syning' : 'entry', {id: entry.next.title|slug(entry.next.id)}) }}"
                aria-label="{{ language|default('is') == 'is' ? 'Fyrri sýning' : 'Previous Show'}}">
                {% if entry.next.poster %}
                <img class="pagination__image" src="{{ path('asset', {size: '60x60', name: entry.next.poster.name}) }}" />
                {% else %}
                <span class="pagination__image"></span>
                {% endif %}
            </a>
            <a class="pagination__title" aria-label="{{ language|default('is') == 'is' ? 'Fyrri sýning' : 'Previous Show'}}"
                href="{{ path(language == 'is' ? 'syning' : 'entry', {id: entry.next.title|slug(entry.next.id)}) }}">
                {{ entry.next.title }}
            </a>
            {% endif %}
        </div>

        <div class="pagination__item pagination--previous">
            {% if entry.previous %}
            <a class="pagination__title" aria-label="{{ language|default('is') == 'is' ? 'Næsta sýning' : 'Next Show'}}"
                href="{{ path(language == 'is' ? 'syning' : 'entry', {id: entry.previous.title|slug(entry.previous.id)}) }}">
                {{ entry.previous.title }}
            </a>
            <a href="{{ path(language == 'is' ? 'syning' : 'entry', {id: entry.previous.title|slug(entry.previous.id)}) }}"
                aria-label="{{ language|default('is') == 'is' ? 'Næsta sýning' : 'Next Show'}}">
                {% if entry.previous.poster %}
                <img class="pagination__image" src="{{ path('asset', {size: '60x60', name: entry.previous.poster.name}) }}" />
                {% else %}
                <span class="pagination__image"></span>
                {% endif %}
            </a>
            {% endif %}
        </div> #}



        </footer>
    </article>
{% endblock %}
