{% extends '@layout/default.html.twig' %}

{% block title %}Kling &amp; Bang{% endblock %}

{% block meta %}
    <link rel="canonical" href="{{ host }}{{ selectPath(['heim', 'home'], language == 'is') }}" />
    <meta property="og:url" content="{{ host }}{{ path(language == 'is' ? 'heim' : 'home') }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Kling &amp; Bang" />
    <meta property="og:image" content="/images/poster.jpg" />
{% endblock %}

{% block content %}
    {% for item in list %}
        <article class="entry">
            <header class="entry__header">
                <ul class="entry__author-list">
                {% for author in item.authors %}
                    <li>
                        <h2 class="entry__author">
                            <a class="entry__author-link" href="{{selectPath(['listamadur', 'author'], false, {id: author.id})}}">{{author.name}}</a>
                        </h2>
                    </li>
                {% endfor %}
                </ul>
                <h3>{{item.title}}</h3>
                <time class="entry__time">{{item.from|date(language)}}</time> | <time class="entry__time">{{item.to|date(language)}}</time>
                {% if user_session %}
                <a href="{{ path('update-entry', {id: item.id}) }}">edit</a>
                {% endif %}
            </header>
            <aside class="entry__aside">
                {% if item.posters|length > 0 %}
                <img class="entry__poster" alt="poster" src="/img/640x/{{item.posters[0].name}}" />
                {% endif %}
                <ul class="gallery">
                {% for image in item.gallery %}
                    {% if image.width > image.height %}
                    <li class="gallery__item--landscape">
                        <img src="{{ path('asset', {size: '200x', name: image.name}) }}" loading="lazy" title="{{image.description}}" alt="gallery image" class="gallery__image" />
                    </li>
                    {% else %}
                    <li class="gallery__item--portraid">
                        <img src="{{ path('asset', {size: 'x320', name: image.name}) }}" loading="lazy" title="{{image.description}}" alt="gallery image" class="gallery__image" />
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </aside>
            <section class="entry__body">
                {% markdown %}
                {{ item.body|raw }}
                {% endmarkdown %}
            </section>

        </article>
    {% endfor %}
    {% for item in upcoming %}
        <p>{{item.title}}</p>
    {% endfor %}

<!-- <script src="/scripts/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.image__gallery', {
        // Custom options
    });
</script> -->
{% endblock %}
