{% extends '@layout/default.html.twig' %}

{% block title %}
    {{ language == 'is' ? 'Verslun' :  'Store' }}
{% endblock %}


{% block content %}
    <article>
        <header>
            {% if user_session %}
            <a href="{{path('update-page', {id: page.id})}}">edit</a>
            {% endif %}
        </header>
        <section>
            {% markdown %}
            {{ page.body|raw }}
            {% endmarkdown %}
        </section>
    </article>
    <ul>
    {% for item in list %}
        <li>
            <article>
                <header>
                    <h3>{{item.title}}</h3>
                    <a href="{{path('update-store', {id: item.id})}}">edit</a>
                    <ul>
                        {% for author in item.authors %}
                        <li>{{author.name}}</li>
                        {% endfor %}
                    </ul>
                </header>
                <aside>
                    <ul>
                        {% for image in item.gallery %}
                        <li>{{image.name}}</li>
                        {% endfor %}
                    </ul>
                </aside>
                <section>
                    {% markdown %}
                    {{ item.body|raw }}
                    {% endmarkdown %}
                </section>
            </article>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
