{% extends '@layout/default.html.twig' %}

{% block title %}
    {{ language == 'is' ? 'Velunnarar' :  'Supporters' }}
{% endblock %}

{% block meta %}
    <link rel="canonical" href="{{ host }}{{ path(language == 'is' ? 'velunnarar' : 'supporters') }}" />
    <meta property="og:url"   content="{{ host }}{{ path(language == 'is' ? 'velunnarar' : 'supporters') }}" />
    <meta property="og:type"  content="article" />
    <meta property="og:title" content="{{ language == 'is' ? 'velunnarar' : 'supporters' }}" />
    <meta property="og:image" content="/images/poster.jpg" />
{% endblock %}

{% block language_switch %}
    {% if language|default('is') == 'is' %}
        <li class="app__nav-list-item"><a class="app__nav-link" href="{{ path('supporters') }}">English</a></li>
    {% else %}
        <li class="app__nav-list-item"><a class="app__nav-link" href="{{ path('velunnarar') }}">Íslenska</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <main class="app__main">
        <article class="article">
            <aside class="article__aside">
                <ul class="image__gallery">
                    {% for image in page.gallery %}
                        {% if image.width > image.height %}
                            <li class="image__gallery-item image__gallery-item--landscape">
                                <img class="image__gallery-image" src="{{ path('asset', {size: '400x', name: image.name}) }}" />
                            </li>
                        {% else %}
                            <li class="image__gallery-item image__gallery-item--portrait">
                                <img class="image__gallery-image" src="{{ path('asset', {size: 'x600', name: image.name}) }}" />
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>

            </aside>
            <div class="article__body">
                {% include '@partials/header.html.twig' %}
                {% if user_session %}
                    <a class="entry__edit-button" href="{{ path('update-page', {id: page.id}) }}">edit</a>
                {% endif %}
                <div class="article__body-text markdown-text">
                    {% markdown %}
                        {{ page.body|raw }}
                    {% endmarkdown %}
                </div>
            </div>
        </article>
    </main>
{% endblock %}
