{% extends '@layout/default.html.twig' %}

{% block title %}404 Not Found{% endblock %}

{% block content %}
    <main class="four-o-four">
        <h1>Oops! 404</h1>
        {% if language == 'is' %}
            <h2>Tu veist, tu getur alltaf farid <a href="{{ path('heim') }}">heim</a></h2>
        {% else %}
            <h2>I know, you can always go <a href="{{ path('home') }}">home</a></h2>
        {% endif %}

        <form method="get" action="{{ path(language == 'is' ? 'leit' : 'search') }}">
            <input type="search" name="q" value="{{ query|default('') }}" placeholder="{{ language == 'is' ? 'Leit...' : 'Search...' }}" />
            <button>{{ language|default('is') == 'is' ? 'leit' : 'search' }}</button>
        </form>
    </main>
{% endblock %}
