<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('home') }}">- Site</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('update') }}">- Dashboard</a>
    </li>
</ul>
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('create-entry') }}">+ Entry</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('create-author') }}">+ Author</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('create-inventory') }}">+ Store Item</a>
    </li>
</ul>
<ul class="nav flex-column">
    {% for item in admin_menu_pages %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('update-manifesto', {id: item.id}) }}">&divide; {{ item.type }}</a>
        </li>
    {% endfor %}
</ul>
