{% extends '@layout/default.html.twig' %}

{% block title %}{{ status }} {{ reason }}{% endblock %}

{% block content %}
    <main class="four-o-four">
        <article class="article">
            <aside class="article__aside">
                <h1 class="four-o-four__headline">:(</h1>
            </aside>
            <div class="article__body">
                {% include '@partials/header.html.twig' %}
                <form method="get" class="search search--tail" action="{{ path(language|default('is') == 'is' ? 'leit' : 'search') }}">
                    <input class="search__text" type="search" name="q" value="{{ query|default('') }}" placeholder="{{ language|default('is') == 'is' ? 'Leit...' : 'Search...' }}" />
                    <button class="search__button">{{ language|default('is') == 'is' ? 'leit' : 'search' }}</button>
                </form>
            </div>
        </article>
    </main>
{% endblock %}
