<!DOCTYPE html>
<html lang="{{ language|default('is') }}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}{% endblock %}
    <link rel="search" type="application/opensearchdescription+xml" href="{{ path(language|default('is') == 'is' ? 'leit' : 'search') }}?q=%s" title="Kling&amp;Bang">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/bundle.css" />
    {% block stylesheets %}{% endblock %}
</head>
<body class="app">
    {% block content %}{% endblock %}

    <footer class="app__footer">
        {% block language_switch %}
            {% if language|default('is') == 'is' %}
                <li><a href="{{ path('home') }}">English</a></li>
            {% else %}
                <li><a href="{{ path('heim') }}">Íslenska</a></li>
            {% endif %}
        {% endblock %}

        <nav class="app__nav">
            <ul class="app__nav-list">
                {% if language|default('is') == 'is' %}
                    <li><a href="{{ path('listamenn') }}" class="app__nav-link">Listamenn</a></li>
                    <li><a href="{{ path('verkefni') }}" class="app__nav-link">Verkefni</a></li>
                {% else %}
                    <li><a href="{{ path('authors') }}" class="app__nav-link">Artists</a></li>
                    <li><a href="{{ path('projects') }}" class="app__nav-link">Projects</a></li>
                {% endif %}
            </ul>
            <ul class="app__nav-list">
                {% if language|default('is') == 'is' %}
                    <li><a href="{{ path('um') }}" class="app__nav-link">Um Kling&amp;Bang</a></li>
                    <li><a href="{{ path('verslun') }}" class="app__nav-link">Verslun</a></li>
                {% else %}
                    <li><a href="{{ path('about') }}" class="app__nav-link">About Kling&amp;Bang</a></li>
                    <li><a href="{{ path('store') }}" class="app__nav-link">Store</a></li>
                {% endif %}
            </ul>
            <ul class="app__nav-list">
            {% for item in entry_years %}
                <li class="app__nav-year-list">
                    <a href="{{ path(language|default('is') == 'is' ? 'listi' : 'list', {year: item.year}) }}" class="app__nav-years">{{ item.year }}</a>
                </li>
            {% endfor %}
            </ul>

        </nav>

        <form method="get" action="{{ path(language|default('is') == 'is' ? 'leit' : 'search') }}">
            <input type="search" name="q" value="{{ query|default('') }}" placeholder="{{ language|default('is') == 'is' ? 'Leit...' : 'Search...' }}" />
            <button>{{ language|default('is') == 'is' ? 'leit' : 'search' }}</button>
        </form>

        <div class="container">
            <div class="row">
                <div class="col">
                    {% block footer %}{% endblock %}
                    <ul class="app__opening-hours-list">
                    {% if language|default('is') == 'is' %}
                        <li class="app__opening-hours-item">Mid til Sun: 12 – 18</li>
                        <li class="app__opening-hours-item">Fim: 12 – 21</li>
                        <li class="app__opening-hours-item">Mán/Þri: Closed</li>
                    {% else %}
                        <li class="app__opening-hours-item">Wed to Sun: 12 – 18</li>
                        <li class="app__opening-hours-item">Thu: 12 – 21</li>
                        <li class="app__opening-hours-item">Mon/Tue: Closed</li>
                    {% endif %}
                    </ul>
                </div>
                <div class="col">
                    <ul class="app__footer-menu">
                        <li><a href="http://facebook.com" class="app__footer-link">Facebook</a></li>
                        <li><a href="http://instagram.com" class="app__footer-link">Instagram</a></li>
                    </ul>
                </div>

                <div class="col">
                    <ul class="app__footer-menu">
                    {% if user_session %}
                        <li><a href="{{ path('logout-submit') }}" class="app__footer-link">logout {{ user_session.name }}</a></li>
                        <li><a href="{{ path('update') }}" class="app__footer-link">Dashboard</a></li>
                    {% else %}
                        <li><a href="{{ path('login') }}" class="app__footer-link">login</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <address class="app__footer-address">
                        &copy; 2005 - {{ "now"|date("Y") }} by Kling&amp;Bang |
                        <a href="https://www.google.com.au/maps/place/Kling+og+Bang/@64.1556389,-21.941386,17z/data=!4m5!3m4!1s0x48d674cd0ad7ec1d:0x8639bdf40995859e!8m2!3d64.1563149!4d-21.9391541"  class="app__footer-link" target="_blank">Grandagarður 20</a> - 101 Reykjavík |
                        <a href="mailto:kob@this.is" class="app__footer-link">kob@this.is</a>
                    </address>

                </div>
            </div>
        </div>
    </footer>
    {% block javascript %}{% endblock %}
</body>
</html>
