{% extends '@layout/admin.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block nav %}
    {% include '@partials/dashboard-menu.html.twig' %}
{% endblock %}

{% block content %}
    <header>
        <h1>Dashboard</h1>
    </header>
    <section>
        <h2>Entries</h2>
        <ul class="entry-grid">
            {% for item in entries %}
            <li class="entry-grid__item">
                <div class="card">
                    {% if item.poster %}
                    <img src="{{ path('asset', {size: '100x100', name: item.poster.name}) }}" style="object-fit: cover; height: 100%"
                        class="card-img" alt="...">
                    {% else %}
                    {% endif %}

                    <a href="{{path('update-entry', {id: item.id})}}">{{ item.title }}</a>
                    <ul>
                        {% for author in item.authors %}
                        <li>{{ author.name }}</li>
                        {% endfor %}
                    </ul>
                    <small>Last updated {{ item.affected }}</small>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h2>Authors</h2>
        <ul class="entry-grid">
            {% for item in authors %}
            <li class="entry-grid__item">
                <div class="card">
                    <a href="{{path('update-author', {id: item.id})}}">{{ item.name }}</a>
                    <small>Last updated {{ item.affected }}</small>

                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
