{% extends '@layout/admin.html.twig' %}
{% import "partials/form-error.html.twig" as form %}

{% block title %}Home{% endblock %}

{% block nav %}
    {% include '@partials/dashboard-menu.html.twig' %}
{% endblock %}

{% block content %}
<pre>
    {{ dump(entry) }}
</pre>
    <header>
        <h2>
        {% if entry %}Update{% else %}Create{% endif %}
        </h2>
    </header>
    <section>
        <form method="post" class="form" action="{{ entry.id is defined ? path('save-store', {id: entry.id}) : path('new-store', {}) }}">
            <fieldset class="form-group form-group--start">
                <div class="form__entry">
                    <div><label for="title">Title</label></div>
                    <div>
                        <input type="text" name="title" class="form-control" id="title" aria-describedby="title" placeholder="Title" value="{{ entry.title is defined ? entry.title : null}}">
                        {{ form.error('title', messages) }}
                    </div>
                </div>
                <div class="form__entry">
                    <div><label>Authors</label></div>
                    <div>
                        <x-authors url="/api/authors/search">
                            {% if entry.authors is defined %}
                            {% for author in entry.authors %}
                                <li data-entry>
                                    <input type="hidden" name="author[]" value="{{ author.id }}">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon--text" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                        </svg>
                                    </a>
                                    <span>{{ author.name }}</span>
                                </li>
                            {% endfor %}
                            {% endif %}
                        </x-authors>
                    </div>
                </div>
                <div class="form__entry">
                    <div><label>Gallery</label></div>
                    <div>
                        <x-upload class="image-list image-list--grid" type="gallery[]">
                            {% if entry.gallery is defined %}
                            {% for image in entry.gallery %}
                            <li data-entry="{{ image.id }}" class="image-list__item">
                                <figure class="image-list__figure">
                                    <img class="image-list__image" draggable="false" slot="icon"
                                        src="{{ path('asset', {size: '100x100', name: image.name}) }}" style="object-fit: cover" height="100"
                                        width="100" />
                                    <figcaption class="image-list__caption">
                                        <input type="hidden" name="gallery[]" value="{{ image.id }}">
                                        <a href="#" data-edit>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon--text" fill="none" viewBox="0 0 24 24"
                                                stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                            </svg>
                                        </a>
                                        <a href="#" data-delete>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon--text" fill="none" viewBox="0 0 24 24"
                                                stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                            </svg>
                                        </a>
                                    </figcaption>
                                </figure>
                                <dialog>
                                    <textarea>{{image.description}}</textarea>
                                    <button data-cancel>Cancel</button>
                                    <button data-save>Save</button>
                                </dialog>
                            </li>
                            {% endfor %}
                            {% endif %}
                        </x-upload>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group form-group--end">
                <div>
                    <div><label for="body_is">Body Icelandic</label></div>
                    <div>
                        <textarea data-markdown class="form-control" id="body_is" name="body_is"
                            rows="12">{{ entry.bodyIs is defined ? entry.bodyIs : null}}</textarea>
                        <small id="emailHelp" class="form-text text-muted">This field supports <a target="_blank"
                                href="https://help.github.com/en/articles/basic-writing-and-formatting-syntax">markdown</a></small>
                    </div>
                </div>
                <div>
                    <div><label for="body_en">Body English</label></div>
                    <div>
                        <textarea data-markdown class="form-control" id="body_en" name="body_en"
                            rows="12">{{ entry.bodyEn is defined ? entry.bodyEn : null}}</textarea>
                        <small id="emailHelp" class="form-text text-muted">This field supports <a target="_blank"
                                href="https://help.github.com/en/articles/basic-writing-and-formatting-syntax">markdown</a></small>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group form-group--across">
                <button type="submit" class="btn btn-primary">Submit</button>
                {% if entry.id is defined %}
                <a href="{{ path('entry', {id: entry.id}) }}">Cancel</a>
                {% else %}
                <a href="{{ path('update') }}">Cancel</a>
                {% endif %}
            </fieldset>
        </form>
    </section>
{% endblock %}
