{% extends '@layout/default.html.twig' %}

{% block title %}Artists{% endblock %}

{% block meta %}
    <link rel="canonical" href="{{ host }}{{ path('authors') }}" />
    <meta property="og:url"                content="{{ host }}{{ path('authors') }}" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="Artists" />
{% endblock %}

{% block content %}
    <main>
        <ul>
        {% for author in list %}
            <li>
                {{ author.name }}
                {% if user_session %}
                    <a href="{{ path('update-author', {id: author.id}) }}">edit</a>
                {% endif %}
                <ul>
                {% for entry in author.entries %}
                    <li>
                        <a href="{{ path('entry', {id: entry.id}) }}">{{ entry.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </main>
{% endblock %}
