{% extends '@layout/admin.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block name %}Dashboard{% endblock %}

{% block content %}
    <ul class="dashboard__card-list">
        {% for item in entries %}
        <li class="dashboard__card-item">

            <div class="card" style="width: 25%;">
                {% if item.poster %}
                <img src="{{ path('asset', {size: '100x100', name: item.poster.name}) }}" style="object-fit: cover; height: 100%"
                    class="bd-placeholder-img card-img-top" alt="...">
                {% else %}
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{path('update-entry', {id: item.id})}}">{{ item.title }}</a>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <small class="text-muted">{{ item.affected }}</small>
                    </h6>
                </div>
                <ul class="list-group list-group-flush">
                    {% for author in item.authors %}
                    <li class="list-group-item">{{ author.name }}</li>
                    {% endfor %}
                </ul>
            </div>

            <!-- <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        {% if item.poster %}
                        <img src="{{ path('asset', {size: '100x100', name: item.poster.name}) }}"
                            style="object-fit: cover; height: 100%" class="card-img" alt="...">
                        {% else %}
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{path('update-entry', {id: item.id})}}">{{ item.title }}</a>
                            </h5>
                            <ul>
                                {% for author in item.authors %}
                                <li>{{ author.name }}</li>
                                {% endfor %}
                            </ul>
                            <p class="card-text"><small class="text-muted">Last updated {{ item.affected }}</small></p>
                        </div>
                    </div>
                </div>
            </div> -->
        </li>
        {% endfor %}
    </ul>

    <ul class="dashboard__card-list">
        {% for item in authors %}
        <li class="dashboard__card-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{path('update-author', {id: item.id})}}">{{ item.name }}</a>
                    </h5>
                    <p class="card-text"><small class="text-muted">Last updated {{ item.affected }}</small></p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
