{% extends '@layout/default.html.twig' %}

{% block title %}{{ entry.current.title }}{% endblock %}

{% block meta %}
    <link rel="canonical" href="{{ host }}{{ path(language == 'is' ? 'syning' : 'entry', {id: entry.current.title|slug(entry.current.id)}) }}" />
    <meta property="og:url"         content="{{ host }}{{ path(language == 'is' ? 'syning' : 'entry', {id: entry.current.title|slug(entry.current.id)}) }}" />
    <meta property="og:type"        content="article" />
    <meta property="og:title"       content="{{ entry.current.title }}" />
    <meta property="og:description" content="{{ entry.current.body|length > 100 ? entry.current.body|slice(0, 100) ~ '...' : entry.current.body  }}" />
    {% if entry.current.poster %}
    <meta property="og:image"       content="{{ path('asset', {size: 'x', name: entry.current.poster.name}) }}" />
    {% else %}
    <meta property="og:image" content="/images/poster.jpg" />
    {% endif %}
{% endblock %}

{% block language_switch %}
    {% if language == 'is' %}
        <li class="app__nav-list-item"><a class="app__nav-link" href="{{ path('entry', {id: entry.current.title|slug(entry.current.id)}) }}">English</a></li>
    {% else %}
        <li class="app__nav-list-item"><a class="app__nav-link" href="{{ path('syning', {id: entry.current.title|slug(entry.current.id)}) }}">Íslenska</a></li>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/styles/baguetteBox.min.css" />
{% endblock %}

{% block javascript %}
<script src="/scripts/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.image__gallery', {
        // Custom options
    });
</script>
{% endblock %}

{% block content %}
    <main>
        <article class="entry">
            <aside class="entry__aside">
                {% if entry.current.poster %}
                    {% include '@partials/header.html.twig' %}
                    {#<ul class="entry__primary-caption">#}
                        {#{% if entry.current.type == 'show' %}#}
                            {#{% for author in entry.current.authors %}#}
                                {#<li class="entry__primary-caption-item">#}
                                    {#<h2 class="entry__primary-caption-text">#}
                                        {#{{ author.name }}#}
                                    {#</h2>#}
                                {#</li>#}
                            {#{% endfor %}#}
                        {#{% else %}#}
                            {#<li class="entry__primary-caption-item">#}
                                {#<h2 class="entry__primary-caption-text">#}
                                    {#{{ entry.current.title }}#}
                                {#</h2>#}
                            {#</li>#}
                        {#{% endif %}#}
                    {#</ul>#}
                    <img class="entry__poster entry__poster--full"
                         width="{{ entry.current.poster.width }}"
                         height="{{ entry.current.poster.height }}"
                         src="{{ path('asset', {size: 'x', name: entry.current.poster.name}) }}" />
                {% endif %}

                {% if entry.current.gallery|length > 0 %}
                <ul class="image__gallery">
                    {% for image in entry.current.gallery %}
                        {% if image.width > image.height %}
                            <li class="image__gallery-item image__gallery-item--landscape">
                                <a data-caption="{{ image.description }}" href="{{ path('asset', {size: 'x', name: image.name}) }}">
                                    <img class="image__gallery-image" src="{{ path('asset', {size: '400x', name: image.name}) }}" />
                                </a>
                            </li>
                        {% else %}
                            <li class="image__gallery-item image__gallery-item--portrait">
                                <a data-caption="{{ image.description }}" data-fslightbox="gallery" href="{{ path('asset', {size: 'x', name: image.name}) }}">
                                    <img class="image__gallery-image" src="{{ path('asset', {size: 'x600', name: image.name}) }}" />
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </aside>
            <div class="entry__body">
                {% include '@partials/header.html.twig' %}
                {% if user_session %}
                    <a class="entry__edit-button" href="{{ path('update-entry', {id: entry.current.id}) }}">edit</a>
                {% endif %}
                <ul class="entry__primary-caption">
                    {% if entry.current.type == 'show' %}
                        {% for author in entry.current.authors %}
                            <li class="entry__primary-caption-item">
                                <h2 class="entry__primary-caption-text">
                                    {{ author.name }}
                                </h2>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="entry__primary-caption-item">
                            <h2 class="entry__primary-caption-text">
                                {{ entry.current.title }}
                            </h2>
                        </li>
                    {% endif %}
                </ul>
                {% if entry.current.type == 'show' or entry.current.type == 'proj' %}
                    <time class="entry__time">{{ entry.current.from|date(language|default('is'), false) }} - {{ entry.current.to|date(language|default('is')) }}</time>
                {% endif %}

                {% if entry.current.type == 'show' %}
                    <h3 class="entry__secondary-caption-text">
                        {{ entry.current.title }}
                    </h3>
                {% endif %}

                <div class="entry__text markdown-text">
                    {% markdown %}
                        {{ entry.current.body|raw }}
                    {% endmarkdown %}
                </div>
            </div>
        </article>
    </main>

    <aside class="pagination">
        <div class="pagination__item pagination--next">
            {% if entry.next %}
                <a href="{{ path(language == 'is' ? 'syning' : 'entry', {id: entry.next.title|slug(entry.next.id)}) }}">
                    {% if entry.next.poster %}
                        <img class="pagination__image" src="{{ path('asset', {size: '60x60', name: entry.next.poster.name}) }}" />
                    {% else %}
                        <span class="pagination__image"></span>
                    {% endif %}
                </a>
                <a class="pagination__title" href="{{ path(language == 'is' ? 'syning' : 'entry', {id: entry.next.title|slug(entry.next.id)}) }}">
                    {{ entry.next.title }}
                </a>
            {% endif %}
        </div>

        <div class="pagination__item pagination--previous">
            {% if entry.previous %}
                <a class="pagination__title" href="{{ path(language == 'is' ? 'syning' : 'entry', {id: entry.previous.title|slug(entry.previous.id)}) }}">
                    {{ entry.previous.title }}
                </a>
                <a href="{{ path(language == 'is' ? 'syning' : 'entry', {id: entry.previous.title|slug(entry.previous.id)}) }}">
                    {% if entry.previous.poster %}
                        <img class="pagination__image"  src="{{ path('asset', {size: '60x60', name: entry.previous.poster.name}) }}" />
                    {% else %}
                        <span class="pagination__image"></span>
                    {% endif %}
                </a>
            {% endif %}
        </div>
    </aside>
{% endblock %}
