{% extends '@layout/admin.html.twig' %}

{% block title %}Manifesto{% endblock %}

{% block style %}
<style>
    .image-list {
        list-style: none;
        padding-left: 0;
    }
    .image-list li {
        margin: 8px 0;
    }
</style>

{% endblock %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-2">
                {% include '@partials/dashboard-menu.html.twig' %}
            </div>
            <div class="col-10">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col">
                            <h1 class="display-4">
                                Update "{{ manifesto.type }}" Page
                            </h1>
                        </div>
                        <div class="col">
                            <p>
                                The body text supports Markdown which is a simple way to add styling to text. A cheat-sheet can be
                                found <a target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">here</a>.
                            </p>
                            <p>
                                Images can be attached by either clicking <em>Select or drag images</em> or by dragging and image
                                from the desktop onto the text. You can then add caption to the image, just remember to save the caption
                                before you save the entry.
                            </p>
                        </div>
                    </div>
                </div>
                <form method="post" action="{{ path('new-manifesto', {id: manifesto.id}) }}">
                    <input type="hidden" name="type" value="{{ manifesto.type }}">
                    <div class="row">
                        <div class="col-3">
                            <template id="image-entry-template">
                                <li>
                                    <input type="hidden" name="gallery[]"/>
                                    <img src="#" />
                                    <span></span>
                                    <a href="#" onclick="removeImageItem(event)">(remove)</a>
                                </li>
                            </template>
                            <label for="gallery">Gallery</label>
                            <file-uploader data-file-uploader-gallery>
                                <ul data-gallery class="image-list">
                                    {% if manifesto.gallery is defined %}
                                        {% for image in manifesto.gallery %}
                                            <li>
                                                <input type="hidden" name="gallery[]" value="{{ image.id }}">
                                                <img src="{{ path('asset', {size: '100x100', name: image.name}) }}" />
                                                <span>{{ image.name }}</span>
                                                <a href="#" onclick="removeImageItem(event)">(remove)</a>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </file-uploader>
                        </div>
                        <div class="col-9">
                            <div class="form-group">
                                <label for="body_is">Body Icelandic</label>
                                <textarea class="form-control" id="body_is" name="body_is" rows="20">{{ manifesto.body_is is defined ? manifesto.body_is : null}}</textarea>
                                <small id="emailHelp" class="form-text text-muted">This field supports <a target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">markdown</a></small>
                            </div>
                            <div class="form-group">
                                <label for="body_en">Body English</label>
                                <textarea class="form-control" id="body_en" name="body_en" rows="20">{{ manifesto.body_en is defined ? manifesto.body_en : null}}</textarea>
                                <small id="emailHelp" class="form-text text-muted">This field supports <a target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">markdown</a></small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="{{ path('about') }}">Cancel</a>
                    </div>
                </form>
            </div>

        </div>

        <script>
            const removeImageItem = (event) => {
                event.preventDefault();
                const parent = event.target.parentNode;
                parent.parentNode.removeChild(parent);
            };
            document.querySelector('[data-file-uploader-gallery]').addEventListener('result', (event) => {
                const list = event.target.querySelector('ul');
                const template = document.querySelector('#image-entry-template');
                event.detail.map(item => {
                    const clone = document.importNode(template.content, true);
                    clone.querySelector('input').value = item.id;
                    clone.querySelector('span').appendChild(document.createTextNode(item.name));
                    clone.querySelector('img').src = item.thumb;
                    list.appendChild(clone);
                });
            });
        </script>
    </main>
{% endblock %}
