{% extends '@layout/default.html.twig' %}

{% block title %}
    {{ language == 'is' ? 'Um Kling &amp; Bang' :  'About Kling &amp; Bang' }}
{% endblock %}

{% block meta %}
    <link rel="canonical" href="{{ host }}{{ path(language == 'is' ? 'um' : 'about') }}" />
    <meta property="og:url"   content="{{ host }}{{ path(language == 'is' ? 'um' : 'about') }}" />
    <meta property="og:type"  content="article" />
    <meta property="og:title" content="{{ language == 'is' ? 'Um' : 'About' }} Kling &amp; Bang" />
    <meta property="og:image" content="/images/poster.jpg" />
{% endblock %}

{% block language_switch %}
    {% if language == 'is' %}
        <li class="app__nav-list-item"><a class="app__nav-link" href="{{ path('about') }}">English</a></li>
    {% else %}
        <li class="app__nav-list-item"><a class="app__nav-link" href="{{ path('um') }}">Íslenska</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <main>
        <article class="article">
            <aside class="article__aside">
                <ul class="article__images">
                    {% for image in manifesto.gallery %}
                        <li class="article__images-item">
                            <img class="article__image" src="{{ path('asset', {size: '600x', name: image.name}) }}"/>
                        </li>
                    {% endfor %}
                </ul>
            </aside>
            <div class="article__body">
                {% include '@partials/header.html.twig' %}
                {% if user_session %}
                    <a class="entry__edit-button" href="{{ path('update-manifesto', {id: manifesto.id}) }}">edit</a>
                {% endif %}
                <div class="article__body-text markdown-text">
                {% markdown %}
                    {{ manifesto.body|raw }}
                {% endmarkdown %}
                </div>
            </div>
        </article>
    </main>
{% endblock %}
