<!DOCTYPE html>
<html lang="{{language|default('is')}}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        {% block meta %}{% endblock %}
        <link rel="search" type="application/opensearchdescription+xml" href="{{ selectPath(['leit', 'search'], primary_language)}}?q=%s" title="Kling&amp;Bang">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16" />
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/styles/styles.css" />
    </head>
    <body>
        <header class="app_header">
            <ul class="navigation">
                <li class="navigation__item">
                    <a class="navigation__link" href="{{selectPath(['syningar', 'entry'], primary_language)}}">
                        {{_(['Sýningar', 'Shows'], primary_language)}}
                    </a>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link" href="{{selectPath(['listamenn', 'authors'], primary_language)}}">
                        {{_(['Listamenn', 'Artists'], primary_language)}}
                    </a>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link" href="{{selectPath(['verkefni', 'projects'], primary_language)}}">
                        {{_(['Verkefni', 'Projects'], primary_language)}}
                    </a>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link" href="/">
                        <svg width="26px" height="18px" viewBox="0 0 26 18" version="1.1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs>
                                <polygon id="path-1"
                                    points="0.6598398 5.86607143 4.81294915 0.10267857 17.6316258 0.125 20.7324593 5.85698342 17.3219012 9.9474286 4.24672439 9.9474286">
                                </polygon>
                                <polygon id="path-3"
                                    points="0.6598398 5.86607143 4.81294915 0.10267857 17.6316258 0.125 20.7324593 5.85698342 17.3219012 9.9474286 4.24672439 9.9474286">
                                </polygon>
                                <polygon id="path-5"
                                    points="0.6598398 5.86607143 4.81294915 0.10267857 17.6316258 0.125 20.7324593 5.85698342 17.3219012 9.9474286 4.24672439 9.9474286">
                                </polygon>
                                <polygon id="path-7"
                                    points="0.6598398 5.86607143 4.81294915 0.10267857 17.6316258 0.125 20.7324593 5.85698342 17.3219012 9.9474286 4.24672439 9.9474286">
                                </polygon>
                                <polygon id="path-9"
                                    points="0.6598398 5.86607143 4.81294915 0.10267857 17.6316258 0.125 20.7324593 5.85698342 17.3219012 9.9474286 4.24672439 9.9474286">
                                </polygon>
                                <polygon id="path-11"
                                    points="0.6598398 5.86607143 4.81294915 0.10267857 17.6316258 0.125 20.7324593 5.85698342 17.3219012 9.9474286 4.24672439 9.9474286">
                                </polygon>
                                <polygon id="path-13"
                                    points="0.6598398 5.86607143 4.81294915 0.10267857 17.6316258 0.125 20.7324593 5.85698342 17.3219012 9.9474286 4.24672439 9.9474286">
                                </polygon>
                            </defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Group" transform="translate(0.000000, 1.000000)">
                                    <g transform="translate(2.280488, 4.571429)" id="Clipped">
                                        <g>
                                            <mask id="mask-2" fill="white">
                                                <use xlink:href="#path-1"></use>
                                            </mask>
                                            <g id="a"></g>
                                            <path
                                                d="M17.3219012,8.56914286 C17.3219012,10.304 14.3937549,11.7097143 10.7837427,11.7097143 C7.17373049,11.7097143 4.24672439,10.304 4.24672439,8.56914286 C4.24672439,6.83428571 7.17373049,5.42742857 10.7837427,5.42742857 C14.3937549,5.42742857 17.3219012,6.83428571 17.3219012,8.56914286"
                                                id="Path" fill="#000000" mask="url(#mask-2)"></path>
                                        </g>
                                        <g>
                                            <mask id="mask-4" fill="white">
                                                <use xlink:href="#path-3"></use>
                                            </mask>
                                            <g id="a"></g>
                                            <path
                                                d="M5.05310488,10.7220571 C3.7395439,8.89005714 0.66544634,5.83177143 2.98014146,3.53577143 C5.23326341,1.30262857 8.41796463,4.24434286 10.7166963,4.0272 L10.8193183,5.11977143 C8.82161098,5.30834286 5.21844024,2.86034286 3.7498061,4.31634286 C2.14434268,5.9072 5.0200378,8.7952 5.94135488,10.0809143 L5.05310488,10.7220571 Z"
                                                id="Path" fill="#000000" mask="url(#mask-4)"></path>
                                        </g>
                                        <g>
                                            <mask id="mask-6" fill="white">
                                                <use xlink:href="#path-5"></use>
                                            </mask>
                                            <g id="a"></g>
                                            <path
                                                d="M10.3379073,4.04468571 C9.27976098,2.55668571 6.4519561,1.70411429 6.20680366,4.40011429 C6.01980366,6.4584 9.00382195,7.93954286 9.60473049,10.1235429 L8.55228537,10.4161143 C7.95707805,8.26068571 4.85675488,7.16011429 5.11787073,4.30068571 C5.45880366,0.52811429 9.56938293,1.07554286 11.2284378,3.40697143 L10.3379073,4.04468571 Z"
                                                id="Path" fill="#000000" mask="url(#mask-6)"></path>
                                        </g>
                                        <g>
                                            <mask id="mask-8" fill="white">
                                                <use xlink:href="#path-7"></use>
                                            </mask>
                                            <g id="a"></g>
                                            <path
                                                d="M15.6650128,10.0044571 C16.5897506,8.71645714 19.3377384,5.96788571 17.727714,4.37131429 C16.2579396,2.91417143 12.6559091,5.36217143 10.6559213,5.1736 L10.7608238,4.08102857 C13.0595555,4.29931429 16.2442567,1.3576 18.4950982,3.59188571 C20.8052323,5.88102857 17.8656835,8.81702857 16.5532628,10.6456 L15.6650128,10.0044571 L15.6650128,10.0044571 Z"
                                                id="Path" fill="#000000" mask="url(#mask-8)"></path>
                                        </g>
                                        <g>
                                            <mask id="mask-10" fill="white">
                                                <use xlink:href="#path-9"></use>
                                            </mask>
                                            <g id="a"></g>
                                            <path
                                                d="M10.5472561,3.40731429 C12.206311,1.07702857 16.3191707,0.52731429 16.6601037,4.29988571 C16.918939,7.15931429 13.8208963,8.25988571 13.2268293,10.4164571 L12.1709634,10.1238857 C12.771872,7.93988571 15.7558902,6.45874286 15.5711707,4.39931429 C15.3260183,1.70445714 12.4959329,2.55817143 11.4377866,4.04502857 L10.5472561,3.40731429 L10.5472561,3.40731429 Z"
                                                id="Path" fill="#000000" mask="url(#mask-10)"></path>
                                        </g>
                                        <g>
                                            <mask id="mask-12" fill="white">
                                                <use xlink:href="#path-11"></use>
                                            </mask>
                                            <g id="a"></g>
                                            <path
                                                d="M10.9258171,3.8248 C11.1082561,3.8248 11.5871585,3.47851429 11.5871585,2.55165714 C11.5871585,1.62365714 11.1082561,1.27737143 10.9258171,1.27737143 C10.7456585,1.27737143 10.2667561,1.62251429 10.2667561,2.55165714 C10.2667561,3.47965714 10.7456585,3.8248 10.9258171,3.8248 M10.9258171,4.92194286 C9.77189024,4.92194286 9.17098171,3.63622857 9.17098171,2.55165714 C9.17098171,1.46708571 9.77189024,0.18137143 10.9258171,0.18137143 C12.0774634,0.18137143 12.6806524,1.46708571 12.6806524,2.55165714 C12.6806524,3.63622857 12.0774634,4.92194286 10.9258171,4.92194286"
                                                id="Shape" fill="#000000" mask="url(#mask-12)"></path>
                                        </g>
                                        <g>
                                            <mask id="mask-14" fill="white">
                                                <use xlink:href="#path-13"></use>
                                            </mask>
                                            <g id="a"></g>
                                            <polygon id="Path" fill="#000000" mask="url(#mask-14)"
                                                points="10.3910427 9.6 11.4845366 9.6 11.4845366 4.18857143 10.3910427 4.18857143"></polygon>
                                        </g>
                                    </g>
                                    <path
                                        d="M12.6156585,5.62514286 L13.7114329,5.62514286 L13.7114329,2.64571429 L12.6156585,2.64571429 L12.6156585,5.62514286 Z M7.09459756,16.2651429 L19.031811,16.2651429 L19.031811,15.2537143 L7.09459756,15.2537143 L7.09459756,16.2651429 Z"
                                        id="Shape" fill="#000000"></path>
                                    <path
                                        d="M14.4601171,3.61268571 L13.2446171,2.98754286 L11.9971902,3.54754286 L12.2662878,2.29954286 L11.2913793,1.38411429 L12.6722146,1.23782857 L13.3198732,0.11211429 L13.9059585,1.26982857 L15.277672,1.48925714 L14.2571537,2.35097143 L14.4601171,3.61268571 L14.4601171,3.61268571 Z M7.5318811,3.05577143 C7.5318811,3.51062857 7.89903963,3.87977143 8.35399695,3.87977143 C8.80781402,3.87977143 9.17497256,3.51062857 9.17497256,3.05577143 C9.17497256,2.60091429 8.80781402,2.23062857 8.35399695,2.23062857 C7.89903963,2.23062857 7.5318811,2.60091429 7.5318811,3.05577143 Z M3.79484573,4.73325714 C3.79484573,5.18811429 4.16200427,5.55725714 4.61696159,5.55725714 C5.07077866,5.55725714 5.4379372,5.18811429 5.4379372,4.73325714 C5.4379372,4.2784 5.07077866,3.90811429 4.61696159,3.90811429 C4.16200427,3.90811429 3.79484573,4.2784 3.79484573,4.73325714 Z M0.99543293,7.73097143 C0.99543293,8.18582857 1.36259146,8.55611429 1.81982927,8.55611429 C2.27136585,8.55611429 2.63852439,8.18582857 2.63852439,7.73097143 C2.63852439,7.27725714 2.27136585,6.90697143 1.81982927,6.90697143 C1.36259146,6.90697143 0.99543293,7.27725714 0.99543293,7.73097143 Z M0.85962988,11.7254857 C0.85962988,12.1792 1.2290689,12.5494857 1.68402622,12.5494857 C2.13784329,12.5494857 2.50500183,12.1792 2.50500183,11.7254857 C2.50500183,11.2706286 2.13784329,10.9003429 1.68402622,10.9003429 C1.2290689,10.9003429 0.85962988,11.2706286 0.85962988,11.7254857 Z M2.83498841,15.3861714 C2.83498841,15.8410286 3.20214695,16.2101714 3.65938476,16.2101714 C4.11320183,16.2101714 4.48036037,15.8410286 4.48036037,15.3861714 C4.48036037,14.9313143 4.11320183,14.5621714 3.65938476,14.5621714 C3.20214695,14.5621714 2.83498841,14.9313143 2.83498841,15.3861714 Z M18.6002287,3.0312 C18.6002287,3.48605714 18.2330701,3.8552 17.7781128,3.8552 C17.3242957,3.8552 16.9571372,3.48605714 16.9571372,3.0312 C16.9571372,2.57634286 17.3242957,2.2072 17.7781128,2.2072 C18.2330701,2.2072 18.6002287,2.57634286 18.6002287,3.0312 Z M22.3394305,4.70754286 C22.3394305,5.16354286 21.9699915,5.53268571 21.5150341,5.53268571 C21.0612171,5.53268571 20.6940585,5.16354286 20.6940585,4.70754286 C20.6940585,4.25382857 21.0612171,3.88468571 21.5150341,3.88468571 C21.9699915,3.88468571 22.3394305,4.25382857 22.3394305,4.70754286 Z M25.1365628,7.70651429 C25.1365628,8.16137143 24.7694043,8.53051429 24.3121665,8.53051429 C23.8606299,8.53051429 23.4934713,8.16137143 23.4934713,7.70651429 C23.4934713,7.25165714 23.8606299,6.88251429 24.3121665,6.88251429 C24.7694043,6.88251429 25.1365628,7.25165714 25.1365628,7.70651429 L25.1365628,7.70651429 Z M25.2701994,11.6997714 C25.2701994,12.1546286 24.9030409,12.5249143 24.4480835,12.5249143 C23.9942665,12.5249143 23.6271079,12.1546286 23.6271079,11.6997714 C23.6271079,11.2460571 23.9942665,10.8757714 24.4480835,10.8757714 C24.9030409,10.8757714 25.2701994,11.2460571 25.2701994,11.6997714 Z M23.2948409,15.3616 C23.2948409,15.8164571 22.9276823,16.1856 22.472725,16.1856 C22.0189079,16.1856 21.6517494,15.8164571 21.6517494,15.3616 C21.6517494,14.9067429 22.0189079,14.5376 22.472725,14.5376 C22.9276823,14.5376 23.2948409,14.9067429 23.2948409,15.3616 L23.2948409,15.3616 Z"
                                        id="Shape" fill="#000000"></path>
                                </g>
                            </g>
                        </svg>
                    </a>
                </li>
            </ul>
        </header>
        <nav class="app_navigation">
            <a href="#">X</a>
            <ul>
                {% for item in entry_years %}
                <li><a href="{{selectPath(['listi', 'list'], primary_language, {year: item.year})}}">{{item.year}}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <main class="app_main">
        {% block content %}{% endblock %}
        </main>
        <footer class="app__footer">
            <div class="app__footer-section">
                <h4 class="app__footer-headline">
                    {{_(['Heimilisfang', 'Address'], primary_language)}}
                </h4>
                <ul class="app__footer-content">
                    <li class="app__footer-item">© Kling &amp; Bang</li>
                    <li class="app__footer-item">
                        <a href="https://www.google.com.au/maps/place/Kling+og+Bang/@64.1556389,-21.941386,17z/data=!4m5!3m4!1s0x48d674cd0ad7ec1d:0x8639bdf40995859e!8m2!3d64.1563149!4d-21.9391541"
                            class="app__footer-link" target="_blank">Grandagarður 20</a>
                    </li>
                    <li class="app__footer-item">101 Reykjavík</li>
                </ul>
            </div>
            <div class="app__footer-section">
                <h4 class="app__footer-headline">
                    {{_(['Opnunartímar', 'Opening hours'], primary_language)}}
                </h4>
                <ul class="app__footer-content">
                    <li class="app__footer-item">
                        {{_(['Mið - Sun: 12 – 18', 'Wed - Sun: 12 - 18'], primary_language)}}
                    </li>
                    <li class="app__footer-item">
                        {{_(['Fim: 12 – 21', 'Thu: 12 – 21'], primary_language)}}
                    </li>
                    <li class="app__footer-item">
                        {{_(['Mán/Þri: Lokað', 'Mon/Tue: Closed'], primary_language)}}
                    </li>
                </ul>
            </div>
            <div class="app__footer-section">
                <h4 class="app__footer-headline">&nbsp;</h4>
                <ul class="app__footer-content">
                    <li class="app__footer-item">
                        <a class="app__footer-link" href="{{selectPath(['verslun', 'store'], primary_language)}}">
                            {{_(['Verk til sölu', 'For sale'], primary_language)}}
                        </a>
                    </li>
                    <li class="app__footer-item">
                        <a class="app__footer-link" href="{{selectPath(['um', 'about'], primary_language)}}">
                            {{_(['Um Kling & Bang', 'About Kling & Bang'], primary_language)}}
                        </a>
                    </li>
                    <li class="app__footer-item">
                        <a class="app__footer-link" href="{{selectPath(['velunnarar', 'supporters'], primary_language)}}">
                            {{_(['Velunnarar', 'Supporters'], primary_language)}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="app__footer-section">
                <h4 class="app__footer-headline">
                    {{_(['Samband', 'Contact'], primary_language)}}

                </h4>
                <ul class="app__footer-content">
                    <li class="app__footer-item"><a class="app__footer-link" href="">Facebook</a></li>
                    <li class="app__footer-item"><a class="app__footer-link" href="">Instagram</a></li>
                    <li class="app__footer-item"><a class="app__footer-link" href="">kob@this.is</a></li>
                </ul>
            </div>
        </footer>

        {#
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_tracking }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', '{{ ga_tracking }}');
        </script>
        #}
    </body>
</html>
{# <!DOCTYPE html>
<html lang="{{ language|default('is') }}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}{% endblock %}
    <link rel="search" type="application/opensearchdescription+xml" href="{{ path(language|default('is') == 'is' ? 'leit' : 'search') }}?q=%s" title="Kling&amp;Bang">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/bundle.css" />
    <link rel="alternate" type="application/rss+xml" title="Subscribe to Shows/News/Projects feed" href="{{ host }}{{ path('rss') }}" />
    {% block stylesheets %}{% endblock %}
</head>
<body class="app">
    {% block content %}{% endblock %}

    <footer class="app__footer">
        <ul class="app__nav-list-language">
        {% block language_switch %}
            {% if language|default('is') == 'is' %}
                <li class="app__nav-list-item"><a class="app__nav-link" href="{{ path('home') }}">English</a></li>
            {% else %}
                <li class="app__nav-list-item"><a class="app__nav-link" href="{{ path('heim') }}">Íslenska</a></li>
            {% endif %}
        {% endblock %}
        </ul>
        <nav class="app__nav">
            <ul class="app__nav-list app__nav-list--quarter">
                <li class="app__nav-brand-item">
                    {% include '@partials/header.html.twig' with {color: 'white'} %}
                </li>
                {% if language|default('is') == 'is' %}
                    <li style="margin-top: 0.5rem" class="app__nav-list-item"><a href="{{ path('verslun') }}" class="app__nav-link">Verk til sölu</a></li>
                    <li class="app__nav-list-item"><a href="{{ path('velunnarar') }}" class="app__nav-link">Vinir Kling &amp; Bang</a></li>
                {% else %}

                    <li style="margin-top: 0.5rem" class="app__nav-list-item"><a href="{{ path('store') }}" class="app__nav-link">Works for sale</a></li>
                    <li class="app__nav-list-item"><a href="{{ path('supporters') }}" class="app__nav-link">Friends of Kling &amp; Bang</a></li>
                {% endif %}
            </ul>
            <ul class="app__nav-list app__nav-list--quarter">
                {% if language|default('is') == 'is' %}
                    <li style="margin-top: 0" class="app__nav-menu-item"><a href="{{ path('listamenn') }}" class="app__nav-link">Listamenn</a></li>
                    <li class="app__nav-menu-item"><a href="{{ path('verkefni') }}" class="app__nav-link">Verkefni</a></li>
                    <li class="app__nav-menu-item"><a href="{{ path('um') }}" class="app__nav-link">Um Kling &amp; Bang</a></li>
                {% else %}
                    <li style="margin-top: 0" class="app__nav-menu-item"><a href="{{ path('authors') }}" class="app__nav-link">Artists</a></li>
                    <li class="app__nav-menu-item"><a href="{{ path('projects') }}" class="app__nav-link">Projects</a></li>
                    <li class="app__nav-menu-item"><a href="{{ path('about') }}" class="app__nav-link">About Kling &amp; Bang</a></li>
                {% endif %}
            </ul>
            <ul class="app__nav-list app__nav-list--half app__nav-list-years">
            {% for item in entry_years %}
                <li class="app__nav-year-list">
                    {% if year|default(0) == item.year %}
                    <span class="app__nav-years">{{ item.year }}</span>
                    {% else %}
                    <a href="{{ path(language|default('is') == 'is' ? 'listi' : 'list', {year: item.year}) }}" class="app__nav-years--active">{{ item.year }}</a>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>

        </nav>

        <div class="app__nav">

            <ul class="app__nav-list app__nav-list--quarter">
                {% if language|default('is') == 'is' %}
                    <li class="app__opening-hours-item">Mið - Sun: 12 – 18</li>
                    <li class="app__opening-hours-item">Fim: 12 – 21</li>
                    <li class="app__opening-hours-item">Mán/Þri: Lokað</li>
                {% else %}
                    <li class="app__opening-hours-item">Wed - Sun: 12 – 18</li>
                    <li class="app__opening-hours-item">Thu: 12 – 21</li>
                    <li class="app__opening-hours-item">Mon/Tue: Closed</li>
                {% endif %}
            </ul>
            <ul class="app__nav-list app__nav-list--quarter">
                <li><a href="https://www.facebook.com/klingandbang" target="_blank" class="app__nav-link">Facebook</a></li>
                <li><a href="https://www.instagram.com/klingogbang" target="_blank" class="app__nav-link">Instagram</a></li>
            </ul>

            <div class="app__nav-list app__nav-list--half">
                <form method="get" class="search" action="{{ path(language|default('is') == 'is' ? 'leit' : 'search') }}">
                    <input class="search__text" type="search" name="q" value="{{ query|default('') }}" placeholder="{{ language|default('is') == 'is' ? 'Leit...' : 'Search...' }}" />
                    <button class="search__button">{{ language|default('is') == 'is' ? 'leit' : 'search' }}</button>
                </form>
            </div>
        </div>

        <div class="app__nav">
            <address class="app__footer-address">
                &copy; Kling &amp; Bang |
                <a href="https://www.google.com.au/maps/place/Kling+og+Bang/@64.1556389,-21.941386,17z/data=!4m5!3m4!1s0x48d674cd0ad7ec1d:0x8639bdf40995859e!8m2!3d64.1563149!4d-21.9391541"  class="app__nav-link" target="_blank">Grandagarður 20</a> - 101 Reykjavík |
                <a href="mailto:kob@this.is" class="app__nav-link">kob@this.is</a>
            </address>
            <div class="app__footer-control">
                {% if user_session %}
                    <a href="{{ path('update') }}" class="app__footer-control-dashboard">dashboard</a>
                {% else %}
                    <a href="{{ path('login') }}" class="app__footer-control-dashboard">login</a>
                {% endif %}
            </div>
        </div>
    </footer>
    {% block javascript %}{% endblock %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_tracking }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ ga_tracking }}');
    </script>
</body>
</html> #}
