<!DOCTYPE html>
<html lang="{{ language|default('is') }}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}{% endblock %}
    <link rel="search" type="application/opensearchdescription+xml" href="{{ path(language|default('is') == 'is' ? 'leit' : 'search') }}?q=%s" title="Kling&amp;Bang">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/bundle.css" />
    <link rel="alternate" type="application/rss+xml" title="Subscribe to Shows/News/Projects feed" href="{{ host }}{{ path('rss') }}" />
    {% block stylesheets %}{% endblock %}
</head>
<body class="app">
    {% block content %}{% endblock %}

    <footer class="app__footer">
        <ul class="app__nav-list-language">
        {% block language_switch %}
            {% if language|default('is') == 'is' %}
                <li class="app__nav-list-item"><a class="app__nav-link" href="{{ path('home') }}">English</a></li>
            {% else %}
                <li class="app__nav-list-item"><a class="app__nav-link" href="{{ path('heim') }}">Íslenska</a></li>
            {% endif %}
        {% endblock %}
        </ul>
        <nav class="app__nav">
            <ul class="app__nav-list app__nav-list--quarter">
                <li class="app__nav-brand-item">
                    {% include '@partials/header.html.twig' with {color: 'white'} %}
                </li>
                {% if language|default('is') == 'is' %}
                    <li style="margin-top: 0.5rem" class="app__nav-list-item"><a href="{{ path('verslun') }}" class="app__nav-link">Verk til sölu</a></li>
                    <li class="app__nav-list-item"><a href="{{ path('velunnarar') }}" class="app__nav-link">Vinir Kling &amp; Bang</a></li>
                {% else %}

                    <li style="margin-top: 0.5rem" class="app__nav-list-item"><a href="{{ path('store') }}" class="app__nav-link">Works for sale</a></li>
                    <li class="app__nav-list-item"><a href="{{ path('supporters') }}" class="app__nav-link">Friends of Kling &amp; Bang</a></li>
                {% endif %}
            </ul>
            <ul class="app__nav-list app__nav-list--quarter">
                {% if language|default('is') == 'is' %}
                    <li style="margin-top: 0" class="app__nav-menu-item"><a href="{{ path('listamenn') }}" class="app__nav-link">Listamenn</a></li>
                    <li class="app__nav-menu-item"><a href="{{ path('verkefni') }}" class="app__nav-link">Verkefni</a></li>
                    <li class="app__nav-menu-item"><a href="{{ path('um') }}" class="app__nav-link">Um Kling &amp; Bang</a></li>
                {% else %}
                    <li style="margin-top: 0" class="app__nav-menu-item"><a href="{{ path('authors') }}" class="app__nav-link">Artists</a></li>
                    <li class="app__nav-menu-item"><a href="{{ path('projects') }}" class="app__nav-link">Projects</a></li>
                    <li class="app__nav-menu-item"><a href="{{ path('about') }}" class="app__nav-link">About Kling &amp; Bang</a></li>
                {% endif %}
            </ul>
            <ul class="app__nav-list app__nav-list--half app__nav-list-years">
            {% for item in entry_years %}
                <li class="app__nav-year-list">
                    {% if year|default(0) == item.year %}
                    <span class="app__nav-years">{{ item.year }}</span>
                    {% else %}
                    <a href="{{ path(language|default('is') == 'is' ? 'listi' : 'list', {year: item.year}) }}" class="app__nav-years--active">{{ item.year }}</a>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>

        </nav>

        <div class="app__nav">

            <ul class="app__nav-list app__nav-list--quarter">
                {% if language|default('is') == 'is' %}
                    <li class="app__opening-hours-item">Mið - Sun: 12 – 18</li>
                    <li class="app__opening-hours-item">Fim: 12 – 21</li>
                    <li class="app__opening-hours-item">Mán/Þri: Lokað</li>
                {% else %}
                    <li class="app__opening-hours-item">Wed - Sun: 12 – 18</li>
                    <li class="app__opening-hours-item">Thu: 12 – 21</li>
                    <li class="app__opening-hours-item">Mon/Tue: Closed</li>
                {% endif %}
            </ul>
            <ul class="app__nav-list app__nav-list--quarter">
                <li><a href="https://www.facebook.com/klingandbang" target="_blank" class="app__nav-link">Facebook</a></li>
                <li><a href="https://www.instagram.com/klingogbang" target="_blank" class="app__nav-link">Instagram</a></li>
            </ul>

            <div class="app__nav-list app__nav-list--half">
                <form method="get" class="search" action="{{ path(language|default('is') == 'is' ? 'leit' : 'search') }}">
                    <input class="search__text" type="search" name="q" value="{{ query|default('') }}" placeholder="{{ language|default('is') == 'is' ? 'Leit...' : 'Search...' }}" />
                    <button class="search__button">{{ language|default('is') == 'is' ? 'leit' : 'search' }}</button>
                </form>
            </div>
        </div>

        <div class="app__nav">
            <address class="app__footer-address">
                &copy; Kling &amp; Bang |
                <a href="https://www.google.com.au/maps/place/Kling+og+Bang/@64.1556389,-21.941386,17z/data=!4m5!3m4!1s0x48d674cd0ad7ec1d:0x8639bdf40995859e!8m2!3d64.1563149!4d-21.9391541"  class="app__nav-link" target="_blank">Grandagarður 20</a> - 101 Reykjavík |
                <a href="mailto:kob@this.is" class="app__nav-link">kob@this.is</a>
            </address>
            <div class="app__footer-control">
                {% if user_session %}
                    <a href="{{ path('update') }}" class="app__footer-control-dashboard">dashboard</a>
                {% else %}
                    <a href="{{ path('login') }}" class="app__footer-control-dashboard">login</a>
                {% endif %}
            </div>
        </div>
    </footer>
    {% block javascript %}{% endblock %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_tracking }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ ga_tracking }}');
    </script>
</body>
</html>
